body{
    background-color: beige;
    font-size: 18px;
    margin: 5px;
}
h3{
    font-size: 25px;
    color: darkslategrey;
    text-align:center
}

input,select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

table, td, th {
    padding-top: 10px;
    border: 1px solid;
    font-size: 18px;
  }
  
  table {
    padding-top: 10px;
    width: 100%;
    border-collapse: collapse;
    background-color: antiquewhite;
  }